install
url --url=http://mirror.symnds.com/distributions/CentOS-vault/6.5/os/x86_64/
lang en_US.UTF-8
keyboard us
network --bootproto=dhcp
rootpw --iscrypted $1$damlkd,f$UC/u5pUts5QiU3ow.CSso/
firewall --enabled --service=ssh
authconfig --enableshadow --passalgo=sha512
selinux --disabled
timezone UTC
bootloader --location=mbr

text
skipx
zerombr
unsupported_hardware

clearpart --all --initlabel
autopart

auth  --useshadow  --enablemd5
firstboot --disabled
reboot

%packages --nobase
-*-firmware
-selinux*
openssh-clients
openssh-server
sudo
wget
plymouth
grub
acpid
-kernel-firmware
-postfix
-sendmail
%end

%post
/usr/sbin/groupadd vagrant
/usr/sbin/useradd vagrant -g vagrant -G wheel
echo "vagrant"|passwd --stdin vagrant
echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
chmod 0440 /etc/sudoers.d/vagrant
yum -y upgrade
# remove all locales that are not "en*"
find /usr/share/locale -type f -path "*/LC*" ! -path "*/en*" -exec rm {} \;
find /usr/share/locale -depth -type d -print0 | xargs -0 rmdir 2>/dev/null
find /usr/share/i18n/locales -type f ! \( -name "en*" -or -name "translit_*" -or -iname "POSIX" \) -exec rm {} \;
# rebuild locale-archive
# see http://bleachbit.sourceforge.net/forum/linux-fedora-core-15-usrliblocalelocale-archive-still-large-after-removing-all-one-locale
localedef --list-archive | grep -v ^en | xargs localedef --delete-from-archive
mv /usr/lib/locale/locale-archive{,.tmpl}
/usr/sbin/build-locale-archive
%end
